<!DOCTYPE html>
<html>
<head>
  <title>Oh just do it!</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><%= flash[:notice] if flash[:notice] %></p>

<%= yield %>

</body>
</html>
